

html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: Arial, Geneva, sans-serif;
}

canvas {
    background-color:green;
}
.btn{
    width: 65px;
    height: 35px;
    text-align: center;
    padding-top:8px;
    border: 2px solid green;
}
.wrapper{
    border: 1px solid black;
    border-radius:12px;
    padding:20px;
    display:grid;
    grid-gap:8px;
    min-height: 99vh;
    grid-template-rows: 
    1fr
    0.7fr
    302px 
    35px 
    35px 
    302px
    0.7fr
    1fr;
    grid-template-columns: 
    0.5fr 
    1fr
    316px 
    50px 
    316px 
    1fr 
    0.5fr;
}
.game-name{
    background-color:green;
    grid-area:1/1/2/-1;
}
.score{
    background-color:purple;
    grid-column:4/5;
    grid-row:2/3;

}
.btn-left{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: end;
}
.btn-right{
    grid-column:2/3;
    grid-row:5/6;
    float: right;
    justify-self: end;

}
.canvas{
    /* text-align:center; */

    grid-row:3/7;
    grid-column: 3/-3;
}
.btn-up{
    grid-column:6/7;
    grid-row:4/5;
    float: left;
}
.btn-down{

    grid-column:6/7;
    grid-row:5/6;
    float: left;
}

.stop-btn{
    grid-row:7/8;
    grid-column: 4/5;
}
.message{
    grid-row:8/-1;
    grid-column:2/7;
    background-color:brown;
}










